body {
  font-family: Arial, sans-serif;
}

#chat-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow-y: auto;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#components-align {
  justify-content: baseline
}

#messages {
  flex-grow: 1;
  max-height: 800px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#input-container {
  display: flex;
  align-items: center;
}

#message-input {
  flex-grow: 1;
  padding: 8px;
  margin-right: 10px;
  border-radius: 10px;
}

#send-button {
  border: 1px solid black;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

}

#send-button:hover {
  background-color: #0056b3;
  color: #eef0f3;
}


#header {
  border-radius: 10px;
  background-color: #797676;
  color: #fff;
  text-align: center;
  padding: 2px 0;
  margin-bottom: 2px;
}


#nickname-display {
  margin-top: 10px;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.entry-message {
  font-style: italic;
  color: #999;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}